/** RESET FOR CSS */
* {
	padding:0;
    margin:0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address {margin:0;}
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.hide, .print-logo, .close-button{ display:none; }
.left{ float:left; }
.right{ float:right; }
.clr{ clear:both; height:1px; font-size:1px; line-height:1px; }
a img{ border:none; }


/* mac hide\*/
html, body {height: 100%}
/* end hide */
/*--------------------------------------------------------------------------**/



/** MAIN */
html, body {
    font-size: 13px;
    font-family: "Arial", "Helvetica";
    margin: auto;
	text-align: justify;
	width: 1000px;
}
/*--------------------------------------------------------------------------**/



/** HEADER */
#header {
	background: url(/images/header.jpg) no-repeat center center;
	height: 150px;
	margin: auto;
	padding: 10px 0;
}
/*--------------------------------------------------------------------------**/



/** MENU */
#menu ul {
	background: url(/images/menu_banner.png) repeat-x center center;
	height: 30px;
	margin: 0 0 10px 0;
}

.menu_item {
	display: inline;
	float: left;
	height: 30px;
	list-style: none;
	margin: 5px 0px 0px 21px;
}

.menu_item a {
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	margin: 0px 0 0 0;
	padding: 5px 5px 6px 5px;
	text-transform: capitalize;
	text-decoration: none;
}

#menu a:hover, #home #home a, #holiday_cottages #holiday_cottages a,
#things_to_do #things_to_do a, #farm_and_habitats #farm_and_habitats a,
#art_projects #art_projects a, #tina_lewis_paintings #tina_lewis_paintings a,
#contact #contact a {background: url(/images/menu_hover.png) repeat-x center center;}
/*--------------------------------------------------------------------------**/



/** FORMS */
#ContactAddForm {
    margin: 30px auto;
    padding: 0 85px 0 0;
    width: 65%;
}

.input {
/*    border: 2px solid #6ebe7a;*/
}

.input label{
    float: left;
    padding: 2px 7px 0 0;
    text-align: right;
    width: 125px;
}

.input input {
    margin: 0 0 10px;
}

.input input, .input textarea {
    border: 2px solid #6ebe7a;
    float: none;
    font-family: "Frutiger Linotype", "Lucida Grande", Verdana, sans-serif;
    font-size: 80%;
    padding: 3px;
    width: 70%;
}

input[type="submit"] {
    background-color: #fff;
    border: 2px solid #6ebe7a;
	float: right;
	font-size: 110%;
	margin: 10px 50px 0 0;
	padding: 2px 5px;
	width: auto;
}

.error-message {
    color: #F00;
    float: right;
    margin: -34px -190px 0 0;
    width: 230px;
}
/*--------------------------------------------------------------------------**/



/** CONTENT */
h2 {
	margin: 10px 0 0 0;
}

#content {
	font: 13pt "Arial", "Helvetica", Verdana, sans-serif;
	margin: 0 10px 0 10px;
	
}

.message {
    background: #6ebe7a;
    border: 3px solid #5B9C65;
    color: #fff;
    font-weight: bold; 
    margin: 15px 0;
    padding: 10px;
    text-align: center;
}

table#pictures {
    margin-left: 132px;
}

tr.thumbs td a img {
    margin-left: 5px;
}
/*--------------------------------------------------------------------------**/



/** FOOTER */
#footer {
	background: #6ebe7a;
	height: 20px;
	margin: 10px 0 0;
	text-align: center;
}

#footer p {
	color: #FFF;
	display: inline;
	float: right;
	margin: 3px 10px 0 0;
}

#footer a {
    color: #FFF;
    text-decoration: none;
}

#footer #admin_info {
    float: left;
    margin: 0 0 0 10px;
}
/*--------------------------------------------------------------------------**/