{% extends "base.html" %}

{% block page_title %}contact{% endblock %}

{% block content %}
<div id='contact-info'>
    <p>Please phone or email us if you have any questions.</p>
    <p>Phone: 01834 831327</p>
    <p>Email: <a href="mailto:contact@penderry.com">contact@penderry.com</a></p>
</div>
<div class='clr'></div>

<div id='location'>
    <div id='address'>
        <p>Penderry, Lampeter-Velfrey, Whitland, Pembrokeshire, Wales SA34 0RB</p>
    </div>
    <div class='left' id='map'>
        <iframe width="560" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?q=http:%2F%2Fmapsengine.google.com%2Fmap%2Fu%2F0%2Fkml%3Fmid%3Dza3eJwClkDoo.kdBpDiKNwbeU&amp;hl=en&amp;sll=51.798544,-4.657849&amp;sspn=0.008101,0.009624&amp;gl=uk&amp;t=m&amp;ie=UTF8&amp;ll=51.76104,-4.643097&amp;spn=1.037835,1.231842&amp;output=embed"></iframe>
        <br />
        <small><a href="https://maps.google.co.uk/maps?q=http:%2F%2Fmapsengine.google.com%2Fmap%2Fu%2F0%2Fkml%3Fmid%3Dza3eJwClkDoo.kdBpDiKNwbeU&amp;hl=en&amp;sll=51.798544,-4.657849&amp;sspn=0.008101,0.009624&amp;gl=uk&amp;t=m&amp;ie=UTF8&amp;ll=51.76104,-4.643097&amp;spn=1.037835,1.231842&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
    <div class='right' id='directions'>
        <p class='right'>London to Whitland using the M4 and the A40 takes around 4 hours.</p>
        <p class='right'>Take the left turn into Whitland from the roundabout on the A40, then another left into the High Street signed "To Tavernspite" - B4328.</p>
        <p class='right'>Take the first turning on the right after the railway crossing, signed "To Lampeter-Velfrey".</p>
        <p class='right'>Penderry is about 2.5 miles along this lane on the left. The farm track and gate are opposite a cottage with a red tin roof.</p>
    </div>
    <div class='clr'></div>
</div>
<div id='powells'>
    <h5>Powells</h5>
    <p>You can contact Powells, our <a href="/holiday_cottage.html">cottage</a> booking agent, directly:</p>
    <p>01834 812 791</p>
    <p>Dolphin House,<br />High Street,<br />Saundersfoot,<br />Pembrokeshire,<br />SA69 9EJ</p>
    <p><a href="mailto:info@powells.co.uk">info@powells.co.uk</a></p>
</div>
{% endblock content %}
