{% extends "base.html" %}

{% block page_title %}farm{% endblock %}

{% block content %}
<a href="http://farm5.static.flickr.com/4038/4645801240_86e7faf55d.jpg" rel="lightbox[farms]" title="">
    <img alt="" class="farms left" src="http://farm5.static.flickr.com/4038/4645801240_86e7faf55d_m.jpg" width="">
</a>
<p class="farms" id="first">Penderry is surrounded by fifty acres of woodland, meadows, ponds and a river, and is home to an amazing variety of wildlife, including otters, foxes and badgers. Over fifty species of birds have been sighted at Penderry, including red kites, kingfishers and barn owls.</p>
<div class="clr"></div>

<a href="http://farm5.static.flickr.com/4061/4645199875_a2384c992e.jpg" rel="lightbox[farms]" title="Penderry Woods in the Winter">
    <img alt="Penderry Woods in the Winter" class="farms right" src="http://farm5.static.flickr.com/4061/4645199875_a2384c992e_m.jpg" width="">
</a>
<p class="farms" id="second">The mixed deciduous woodland has two sites used by many children for Forest Schools. Children from local primary schools come to play, broaden their knowledge, develop confidence and learn to value the countryside. The Chernobyl Children Lifeline also use the woodland as part of their respite holidays for Belarusian children. The Cwm Wood at Penderry was runner-up in the Woods for Wales Award (2007), and won a special award for educational and community use of the woodland.</p>
<div class="clr"></div>

<p class="farms" id="third">We farm Penderry as it was probably farmed 100 years ago, aiming to minimise our impact on the environment. We cut our hay late in the year, which allows many species of wildflowers to flourish, and in turn encourages moths and butterflies, providing a source of food for a variety of birds.</p>
<div class="clr"></div>

<a href="http://farm5.static.flickr.com/4041/4645206177_e3c6625f88.jpg" rel="lightbox[farms]">
    <img alt="" class="farms left" height="160" src="http://farm5.static.flickr.com/4041/4645206177_e3c6625f88_m.jpg" title="">
</a>
<a href="http://farm5.static.flickr.com/4014/4645182809_66915244c6.jpg" rel="lightbox[farms]">
    <img alt="" class="farms left" src="http://farm5.static.flickr.com/4014/4645182809_66915244c6_m.jpg" title="" width="">
</a>
<p class="farms left" id="fourth">We have a small flock of sheep.</p>
<a href="http://farm5.static.flickr.com/4015/4645817044_218d7acc63.jpg" rel="lightbox[farms]">
    <img alt="" class="farms right" id="sunset" src="http://farm5.static.flickr.com/4015/4645817044_218d7acc63_m.jpg" title="" width="">
</a>
<p class="farms left" id="fifth">The river Cwm meanders along the picturesque valley. In the late autumn trout can be seen leaping up the small waterfall to go upstream to spawn.</p>
<div class="clr"></div>
{% endblock content %}

