{% extends "base.html" %}

{% block extra_script %}{% include "fancybox.html" %}{% endblock %}

{% block page_title %}cottage{% endblock %}

{% block content %}
<p>'The Stables' is a semi-detached cottage with lovely views across the wooded valley. Tastefully converted, the cottage combines character and charm with the best of modern comfort. 'The Stables' is an ideal holiday base for families, walkers and nature lovers. Children love exploring the orchards, woods and stream (all tucked well away from the road) and eco-friendly farm practices mean the fifty-acre holding boasts a huge variety of butterflies, birds and wildflowers. Adults may like to try their hand at the occasional painting lessons available in the purpose built studio - Colin and Tina are established artists who offer tuition (depending on availability) for all ages and standards.</p>

<h1>The Stables</h1>
<h5>2 Bedrooms (sleeps 3)</h5>
<a href="http://farm5.static.flickr.com/4011/4645769750_d7f9c255a3.jpg" rel="lightbox" title="Kitchen">
    <img class="stables right" src="http://farm5.static.flickr.com/4011/4645769750_d7f9c255a3_m.jpg" alt="The Stables Kitchen" height="160">
</a>
<a href="http://farm5.static.flickr.com/4059/4645160205_d7b8c84c14.jpg" rel="lightbox" title="Bedroom">
    <img class="stables right" src="http://farm5.static.flickr.com/4059/4645160205_d7b8c84c14_m.jpg" alt="The Stables Bedroom" height="160">
</a>
<a href="http://farm5.static.flickr.com/4029/4645151365_495b90efa5.jpg" rel="lightbox" title="The Stables">
    <img id="first" class="stables right" src="http://farm5.static.flickr.com/4029/4645151365_495b90efa5_m.jpg" alt="The Stables" height="160">
</a>

<p>Converted semi-detached stone cottage with character features and exposed beams with small fenced front courtyard. Entrance into comfortably furnished lounge / diner with electric cooker, fridge and microwave. Wrought iron and wooden stairs lead to a bedroom with connecting twin beds and en-suite shower room with adjoining small single bedroom. The light, airy rooms have views over the fields and into the peaceful valley.</p>

<div class="booking">
    <a href="http://www.powells.co.uk/wales-cottages/363/the-stables" title="Book">Book now with Powells</a>
</div>

<a href="http://farm5.static.flickr.com/4028/4645170949_ff1d90d076.jpg" rel="lightbox" title="Games Room">
    <img id="games-room" class="left" src="http://farm5.static.flickr.com/4028/4645170949_ff1d90d076_m.jpg" alt="Penderry Cottages Games Room">
</a>

<h4>Cottage Facilities</h4>
<p>19" flatscreen colour TV, with built in DVD player. Linen provided. Travelcot and high chair available. Storage heating included. £1 electric meter. Shared utility room with washing machine, tumble dryer, deep freeze, ironing facilities and information rack. Large shared games room with table tennis. Ample parking. Lawns and gardens with eating area. Beach 6 miles at Amroth. Well behaved pets welcome.</p>

<div class="clr"></div>
{% endblock content %}
