!!!
%html
  %head
    %title Penderry Farm

    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/master.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/lightbox.css'}

    %meta{:"http-equiv" => 'Content-type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'author', :content => 'George Hickman'}
    %meta{:name => 'description', :content => 'Penderry is a traditional welsh farm house with two holiday cottages attached, lies in a unique patch of Pembrokeshire countryside, only 10 minutes drive from the bustling little town of Narberth in Wales.'}
    %meta{:name => 'google-site-verification', :content => '-Dc_Spbzf0ntfqbPWK8AJclFJp23jKipfBFgh4W6_IY'}
    %meta{:name => 'keywords', :content => 'penderry farm, penderry farm wales, penderry wales, penderry, farm, forest schools, forest, schools, holiday cottages, holiday, cottages, pembrokeshire, narberth, art, wales, tina lewis, tina, lewis, stables, dairy, wildlife, woodland'}
    %meta{:name => 'robots', :content => 'ALL'}

    %script{:type => 'text/javascript', :src => '//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '//ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js'}
    %script{:type => 'text/javascript', :src => '//ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js?effects,builder'}
    %script{:type => 'text/javascript', :src => '/javascript/lightbox.js'}
  %body{:id => "#{page.body}"}
    #header
    #menu
      %ul
        %li#home.menu_item <a href="/">Home</a>
        %li#cottages.menu_item <a href="/holiday_cottages.html">Holiday Cottages</a>
        %li#things.menu_item <a href="/things_to_do.html">Things To Do</a>
        %li#farm.menu_item <a href="/farm_and_habitats.html">Farm and Habitats</a>
        %li#art.menu_item <a href="/art_projects.html">Art Projects</a>
        %li#paintings.menu_item <a href="/tina_lewis_paintings.html">Tina Lewis&#039; Paintings</a>
        %li#contact.menu_item <a href="/contact">Contact Us</a>

    #content== #{content}

    #footer
      %p#created-by Created by <a href="http://ghickman.co.uk">George Hickman</a>

    %script{:type => "text/javascript", :src => '/javascript/analytics.js'}
