<h1>About Penderry</h1>
<p class="intro">Having spent years holidaying in Pembrokeshire, many of them at Penderry, Colin and Tina (and their expanding family of children and animals) finally moved here 20 years ago. Penderry, a traditional Welsh farm house with two cottages attached, lies in a unique patch of countryside - seemingly isolated in the beautiful Lampeter Vale, yet only 10 minutes drive from the bustling little town of Narberth. From the meandering river Cwm in the valley to the panoramic hilltop views, Penderry is surrounded by 50 acres of woodland and meadows. The unspoilt farmland boasts an amazing variety of wildlife, flowers, butterflies and birds, as well as the domestic pets, sheep and chickens on the smallholding.</p>

<p>Penderry is surrounded by fifty acres of woodland, meadows, ponds and a river, and is home to an amazing variety of wildlife, including otters, foxes and badgers. Over fifty species of birds have been sighted at Penderry, including red kites, kingfishers and barn owls.</p>

<figure>
  <img alt="Putting up a new bird box" src="https://farm5.static.flickr.com/4038/4645801240_86e7faf55d_m.jpg" />
  <figcaption>Putting up a new bird box</figcaption>
</figure>

<p>The mixed deciduous woodland has two sites used by many children for Forest Schools. Children from local primary schools come to play, broaden their knowledge, develop confidence and learn to value the countryside. The Chernobyl Children Lifeline also use the woodland as part of their respite holidays for Belarusian children. The Cwm Wood at Penderry was runner-up in the Woods for Wales Award (2007), and won a special award for educational and community use of the woodland.</p>

<figure>
  <img alt="Penderry Woods in the Winter" src="https://farm5.static.flickr.com/4061/4645199875_a2384c992e_m.jpg" />
  <figcaption>Penderry woods in the Winter</figcaption>
</figure>

<p>We farm Penderry as it was probably farmed 100 years ago, aiming to minimise our impact on the environment. We cut our hay late in the year, which allows many species of wildflowers to flourish, and in turn encourages moths and butterflies, providing a source of food for a variety of birds.</p>

<figure>
  <img alt="Our Flock of Sheep" src="https://farm5.static.flickr.com/4014/4645182809_66915244c6_m.jpg" />
  <figcaption>We also own a small flock of sheep</figcaption>
</figure>

<p>The river Cwm meanders along the picturesque valley. In the late autumn, trout can be seen leaping up the small waterfall to go upstream to spawn.</p>
