<h1>Art Projects</h1>
<p class="art">Colin and Tina have been involved with many children's art, sculpture and mural projects.</p>
<div class="gallery">
  <img class="gallery-cell" src="https://farm5.static.flickr.com/4037/4645232449_35e3a52330.jpg" />
  <img class="gallery-cell" src="https://farm5.static.flickr.com/4010/4645234683_077892dc0a.jpg" />
  <img class="gallery-cell" src="https://farm5.static.flickr.com/4029/4645219079_ff3c438611.jpg" />
</div>

<p>Penderry is a favoured site for eco land art because of its varied landscapes.</p>
<div class="gallery">
  <img class="gallery-cell" src="https://farm5.static.flickr.com/4001/4645243165_72079dec9c.jpg" />
  <img class="gallery-cell" src="https://farm5.static.flickr.com/4070/4645844288_1c75e01690.jpg" />
  <img class="gallery-cell" src="https://farm5.static.flickr.com/4044/4645839082_a7dff9d7bf.jpg" />
</div>

<p>Tina takes regular art classes in the farm's well-equipped studio.</p>
<div class="gallery">
  <img class="gallery-cell" src="https://farm5.static.flickr.com/4055/4645240647_63648a9869.jpg" />
  <img class="gallery-cell" src="https://farm4.static.flickr.com/3407/4645222957_0ef90ae4bf.jpg" />
  <img class="gallery-cell" src="https://farm5.static.flickr.com/4016/4645236567_31cdd8b1b3.jpg" />
</div>
