<h1>Contact</h1>
<p class="intro">Please phone or email us if you have any questions.</p>

<div id="phone">
  <h2>Phone</h2>
  <p>01834 831327</p>
</div>

<div id="email">
  <h2>Email</h2>
  <p><a href="mailto:contact@penderry.com">contact@penderry.com</a></p>
</div>

<div id="address">
  <h2>Address</h2>
  <p>Penderry</p>
  <p>Lampeter Velfrey</p>
  <p>Whitland, Pembrokeshire</p>
  <p>Wales, SA34 0RB</p>
</div>

<h2>Directions to Penderry</h2>
<p>
  London to Whitland using the M4 and the A40 takes around 4 hours.
</p>
<p>
  Take the left turn into Whitland from the roundabout on the A40, then another
  left into the High Street signed 'To Tavernspite' - B4328.
</p>
<p>
  Take the first turning on the right after the railway crossing, signed 'To
  Lampeter-Velfrey'.
</p>
<p>
  Penderry is about 2.5 miles along this lane on the left. The farm track and
  gate are opposite a cottage with a red tin roof.
</p>

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39477.01630571991!2d-4.664297589558261!3d51.80043173534634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486ed183e849da15%3A0x8a553fb7cb65f055!2sPenderry!5e0!3m2!1sen!2suk!4v1434757107170"></iframe>
