<h1>The Cottage</h1>
<p class="intro">
  The Stables is a semi-detached cottage with lovely views across the wooded
  valley. Tastefully converted, the cottage combines character and charm with
  the best of modern comfort. 'The Stables' is an ideal holiday base for
  families, walkers and nature lovers. Children love exploring the orchards,
  woods and stream (all tucked well away from the road) and eco-friendly farm
  practices mean the fifty-acre holding boasts a huge variety of butterflies,
  birds and wildflowers. Adults may like to try their hand at the occasional
  painting lessons available in the purpose built studio - Colin and Tina are
  established artists who offer tuition for all ages and standards.
</p>

<figure>
  <img alt="The Stables" src="/img/stables.jpg" />
  <figcaption>The Stables</figcaption>
</figure>

<h2>Information</h2>
<p>
  <em>2 Bedrooms (sleeps 3)</em> converted semi-detached stone cottage with
  character features and exposed beams with small fenced front courtyard.
  Entrance into comfortably furnished lounge / diner with electric cooker,
  fridge and microwave. Wrought iron and wooden stairs lead to a bedroom with
  connecting twin beds and en-suite shower room with adjoining small single
  bedroom. The light, airy rooms have views over the fields and into the
  peaceful valley.
</p>

<figure>
  <div class="gallery">
    <img alt="The Stables Bedroom" src="/img/stables-bedroom.jpg" />
    <img alt="The Stables Downstairs" src="/img/stables-downstairs.jpg" />
    <img alt="Penderry Cottages Games Room" src="/img/games-room.jpg" />
  </div>
  <figcaption>Stables and Games Room Interior</figcaption>
</figure>

<h2>Cottage Facilities</h2>
<p>
  19" flatscreen colour TV, with built in DVD player. Linen provided. Travelcot
  and high chair available. Storage heating included. £1 electric meter. Shared
  utility room with washing machine, tumble dryer, deep freeze, ironing
  facilities and information rack. Large shared games room with table tennis.
  Ample parking. Lawns and gardens with eating area. Well behaved pets welcome.
</p>

<a href="http://www.powells.co.uk/wales-cottages/363/the-stables" title="Book">book now</a>
