<!DOCTYPE html>
<html lang="en">
<head>
    <title>Penderry Farm</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/main.css">

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="author" content="George Hickman">
    <meta name="description" content="Penderry is a traditional welsh farm house with a holiday cottage attached, lies in a unique patch of Pembrokeshire countryside, only 10 minutes drive from the bustling little town of Narberth in Wales.">
    <meta name="google-site-verification" content="-Dc_Spbzf0ntfqbPWK8AJclFJp23jKipfBFgh4W6_IY">
    <meta name="keywords" content="penderry farm, penderry farm wales, penderry wales, penderry, farm, forest schools, forest, schools, holiday cottages, holiday cottage, holiday, cottages, cottage, pembrokeshire, narberth, art, wales, tina lewis, tina, lewis, stables, dairy, wildlife, woodland">
    <meta name="robots" content="ALL">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/main.js"></script>
</head>

<body class="gandhi near-black">

  <header class="bg-hero cover pa5 vh-100">
    <p class="f1 infini lh-title ma0 white">
      Welcome to Penderry –<br />
      A traditional Welsh farmhouse<br />
      set in a unique patch of countryside<br />
      in the Lampeter Vale
    </p>

    <nav class="ph4 nowrap overflow-x-auto bb b--moon-gray bg-white w-100 absolute border-box bottom-0 left-0">
      {% for item in nav %}
        <a class="dib near-black link no-underline ma4 bb-hover" href="{{item.url}}">
          {{item.name}}
        </a>
      {% endfor %}
    </nav>
  </header>


  <div id="content" class="ph3 mw6 center f6 f5-ns lh-copy">
    <div class="wrap">
      <section id="about">
        {% include 'about.html' %}
      </section>

      <section id="cottage">
        {% include 'cottage.html' %}
      </section>

      <section id="things">
        {% include 'things.html' %}
      </section>

      <section id="art">
        {% include 'art.html' %}
      </section>

      {# <section id="paintings"> #}
      {#   {% include 'paintings.html' %} #}
      {# </section> #}

      <section id="contact">
        {% include 'contact.html' %}
      </section>
    </div>
  </div>

  <footer class="bg-dark-gray infini pa4 tc white">
    <p class="f2">Thank you for visiting!</p>
    <p>© Penderry 2015</p>
    <p>
      <em>Created by</em> <a class="b bb-hover link no-underline white" href="http://ghickman.co.uk">George Hickman</a>
    </p>
  </footer>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22314259-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
