<div class="gallery">
  {% for painting in paintings %}
  <div><img class="gallery-cell" src="/img/{{ painting.name }}" /></div>
  {% endfor %}
</div>

<h1>Tina Lewis' Paintings</h1>
<p>
  Tina has been inspired by Penderry and it's huge variety of habitats for many
  years, and the farm has been the basis for many painting exhibitions. Having
  run her own gallery in Kent, Tina now shows her drawings, water colours and
  oil paintings in local Pembrokeshire galleries, and is widely collected.
</p>
