{% extends "base.html" %}

{% block extra_script %}{% include "fancybox.html" %}{% endblock %}

{% block page_title %}paintings{% endblock %}

{% block content %}
<p>Tina has been inspired by Penderry and it&apos;s huge variety of habitats for many years, and the farm has been the basis for many painting exhibitions. Having run her own gallery in Kent, Tina now shows her drawings, water colours and oil paintings in local Pembrokeshire galleries, and is widely collected.</p>
<div class="photos">
    {% for painting in PAINTINGS %}
    <a class="painting fancybox" rel="group" href="/img/{{ painting.name }}">
        <img src="/img/{{ painting.thumb }}" alt="{{ painting.alt }}" />
    </a>
    {% endfor %}
    <div class="clr"></div>
</div>
{% endblock content %}
