#contact-info
  %p Please use the contact form to send us any questions, or call us on 01834 831327

#contact-form
  %form{:action=>"/contact", :method=>"post"}
    .name.row
      %label{:for=>"name"} Name:
      %input{:type=>"text", :name=>"name", :id=>"name", :class=>('error' if !@errors[:name].nil?)}
    - if !@errors[:name].nil?
      .error
        %p=@errors[:name]

    .mail.row
      %label{:for=>"mail"} Email Address:
      %input{:type=>"text", :id=>"mail", :name=>"mail", :class=>('error' if !@errors[:mail].nil?)}
    - if !@errors[:mail].nil?
      .error
        %p=@errors[:mail]
  
    .message.row
      %label{:for=>"message"} Message:
      %textarea{:id=>"message", :name=>"message", :class=>('error' if !@errors[:message].nil?)}
    - if !@errors[:message].nil?
      .error
        %p=@errors[:message]
    .clr
  
    %input{:type=>"submit", :class=>"submit", :value=>"Send"}

.clr

#location
  #address
    %p Penderry, Lampeter-Velfrey, Whitland, Pembrokeshire, Wales SA34 0RB
  
  #map.left
    <iframe width="560" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=100510412105125029988.000487f4bc7945f151574&amp;ll=51.837475,-4.633484&amp;spn=0.814611,1.538086&amp;z=9&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.co.uk/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=100510412105125029988.000487f4bc7945f151574&amp;ll=51.837475,-4.633484&amp;spn=0.814611,1.538086&amp;z=9&amp;source=embed" style="color:#0000FF;text-align:left">Penderry Farm</a> in a larger map</small>
  
  #directions.right
    %p.right London to Whitland using the M4 and the A40 takes around 4 hours.
    %p.right Take the left turn into Whitland from the roundabout on the A40, then another left into the High Street signed "To Tavernspite" - B4328.
    %p.right Take the first turning on the right after the railway crossing, signed "To Lampeter-Velfrey".
    %p.right Penderry is about 2.5 miles along this lane on the left. The farm track and gate are opposite a cottage with a red tin roof.
  .clr