!!!
%html
  %head
    %title Penderry Farm
  
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/master.css'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/lightbox.css'}
    
    %script{:type=>'text/javascript', :src=>'/javascript/jquery.js'}
    %script{:type=>'text/javascript', :src=>'/javascript/prototype.js'}
    %script{:type=>'text/javascript', :src=>'/javascript/scriptaculous.js?effects,builder'}
    %script{:type=>'text/javascript', :src=>'/javascript/lightbox.js'}
  %body{:id=>"#{page.body}"}
    #header
    #menu
      %ul
        %li#home.menu_item <a href="/">Home</a>
        %li#cottages.menu_item <a href="/holiday_cottages.html">Holiday Cottages</a>
        %li#things.menu_item <a href="/things_to_do.html">Things To Do</a>
        %li#farm.menu_item <a href="/farm_and_habitats.html">Farm and Habitats</a>
        %li#art.menu_item <a href="/art_projects.html">Art Projects</a>
        %li#paintings.menu_item <a href="/tina_lewis_paintings.html">Tina Lewis&#039; Paintings</a>
        %li#contact.menu_item <a href="http://localhost:4567/contact">Contact Us</a>