---
layout: default
body: art
title: Art Projects
---
%img.art.right.outside{:src=>"http://farm5.static.flickr.com/4010/4645234683_077892dc0a_m.jpg"}
%img.art.right{:src=>"http://farm5.static.flickr.com/4029/4645219079_ff3c438611_m.jpg", :height=>"180", :width=>"240"}
%img.art.right{:src=>"http://farm5.static.flickr.com/4037/4645232449_35e3a52330_m.jpg"}
%p.art Colin and Tina have been involved with many children&apos;s art, sculpture and mural projects.
.clr


%img.art.left.outside{:src=>"http://farm5.static.flickr.com/4001/4645243165_72079dec9c_m.jpg"}
%img.art.left{:src=>"http://farm5.static.flickr.com/4070/4645844288_1c75e01690_m.jpg"}
%img.art.left{:src=>"http://farm5.static.flickr.com/4044/4645839082_a7dff9d7bf_m.jpg"}
%p.art Penderry is a favoured site for eco land art because of it&apos;s varied landscapes.
.clr


%img.art.right.outside{:src=>"http://farm5.static.flickr.com/4055/4645240647_63648a9869_m.jpg"}
%img.art.right{:src=>"http://farm4.static.flickr.com/3407/4645222957_0ef90ae4bf_m.jpg", :height=>"180", :width=>"240"}
%img.art.right{:src=>"http://farm5.static.flickr.com/4016/4645236567_31cdd8b1b3_m.jpg"}
%p.art Tina takes regular art classes in the farm&apos;s well-equipped studio.
.clr