---
layout: default
body: art
title: Art Projects
---
%p Colin and Tina have been involved with many children’s art, sculpture and mural projects.

%p Penderry is a favoured site for eco land art because of it’s varied landscapes.

%p Tina takes regular art classes in the farm’s well-equipped studio.