---
layout: default
body: art
title: Art Projects
---
%p Colin and Tina have been involved with many children&apos;s art, sculpture and mural projects.

%p Penderry is a favoured site for eco land art because of it&apos;s varied landscapes.

%p Tina takes regular art classes in the farm&apos;s well-equipped studio.