---
layout: default
body: cottages
title: Holiday Cottages
---
%p'The Dairy' and 'The Stables' are two pretty cottages adjoining Penderry, set in a tranquil 50 acre smallholding just six miles from Amroth beach. Tastefully converted, the cottages combine character and charm with the best of modern comfort. There is a small front garden for each property, but visitors are welcome to explore the whole farm and to enjoy the gardens, fields and woodland. There is a variety of seating and tables for eating out and children often like to feed the ducks and hens in the orchard. Adults may prefer to try their hand at the occasional painting lessons available in the purpose built studio - Colin and Tina are established artists who offer tuition (depending on availability) for all ages and standards.

%h1 The Dairy
%h5 2 Bedrooms (sleeps 4 and cot)
%img.dairy.right{:src=>"http://farm5.static.flickr.com/4008/4645743182_2b883b6dc1_m.jpg", :title=>"Kitchen", :alt=>"The Dairy Kitchen", :height=>"160"}
%img.dairy.right{:src=>"http://farm5.static.flickr.com/4047/4645133685_7b0d4aa02b_m.jpg", :title=>"Bedroom", :alt=>"The Dairy Bedroom", :height=>"160"}
%img#first.dairy.right{:src=>"http://farm5.static.flickr.com/4027/4645748000_35150b1cbb_m.jpg", :title=>"The Dairy", :alt=>"The Dairy", :height=>"160"}
%p Attractive semi-detached cottage with airy beamed sitting room and lovely country views. The well-equipped open plan kitchen has an electric cooker, fridge and microwave. The lounge area has a pine dining table and benches, and attractive soft furnishings. This leads to a lobby and loo and cute downstairs bathroom with a small step bath - popular with children and elderly people. The back door opens onto the utility room and studio. Cottage stairs lead up to a pretty dorma double bedroom with connecting twin beds and en-suite loo and shower room, and an adjoining small children's room with built in bunk beds.


%h1 The Stables
%h5 2 Bedrooms (sleeps 3 and cot)
%img.stables.right{:src=>"http://farm5.static.flickr.com/4011/4645769750_d7f9c255a3_m.jpg", :title=>"Kitchen", :alt=>"The Stables Kitchen", :height=>"160"}
%img.stables.right{:src=>"http://farm5.static.flickr.com/4059/4645160205_d7b8c84c14_m.jpg", :title=>"Bedroom", :alt=>"The Stables Bedroom", :height=>"160"}
%img#first.stables.right{:src=>"http://farm5.static.flickr.com/4029/4645151365_495b90efa5_m.jpg", :title=>"The Stables", :alt=>"The Stables", :height=>"160"}
%p Converted semi-detached cottage with character features and exposed beams, backing onto the wooded hillside with stream. Entrance into comfortably furnished lounge from small walled courtyard. The open plan kitchen has an electric cooker, fridge and microwave. Cottage style wrought iron stairs lead to a dorma bedroom with connecting twin beds and ensuite shower room with adjoining small single bedroom. The light, airy rooms have views over the fields and into the valley woods and orchard.


%img#games-room.left{:src=>"http://farm5.static.flickr.com/4028/4645170949_ff1d90d076_m.jpg", :title=>"Games Room", :alt=>"Penderry Cottages Games Room"}
%h4 Facilities

%p Colour tv. Linen provided. Travelcot, high chair and stairgate available. Storage heating included. £1 electric meter. Utility room with washing machine, tumble drier, deep freeze, ironing facilities and information rack. Large shared games room with table tennis. Ample parking. Lawns and gardens with eating area. Beach 6 miles at Amroth. Well behaved pets welcome.

.clr