---
layout: default
body_id: home
front_page: true
tite: Home
---
%p Having spent years holidaying in Pembrokeshire, many of them at Penderry, Colin and Tina (and their expanding family of children and animals) finally moved here 15 years ago. Penderry is a traditional Welsh farm house with two holiday cottages attached. From the meandering river Cwym in the valley to the panoramic hilltop views, they are surrounded by 50 acres of woodland and meadows. The unspoilt farmland boasts an amazing variety of wildlife, flowers, butterflies and birds, as well as the domestic pets, sheep, ducks and chickens on the smallholding.  With easy access to the seaside and tourist attractions, Penderry is ideally situated as a base to explore Pembrokeshire from, whilst enjoying the tranquillity of the countryside.