---
layout: default
front_page: true
body: home
title: Home
---

#slate.right
  %a{:href=>"http://farm3.static.flickr.com/2490/3958609515_b8ae2f8e7d_o.jpg", :rel=>"lightbox", :title=>"Penderry Slate"}
    %img{:src=>"http://farm3.static.flickr.com/2490/3958609515_b8ae2f8e7d_o.jpg"}

%p Having spent years holidaying in Pembrokeshire, many of them at Penderry, Colin and Tina (and their expanding family of children and animals) finally moved here 17 years ago. Penderry, a traditional Welsh farm house with two holiday cottages attached, lies in a unique patch of countryside - seemingly isolated in the beautiful Lampeter Vale, yet only 10 minutes drive from the bustling little town of Narberth. From the meandering river Cwm in the valley to the panoramic hilltop views, Penderry is surrounded by 50 acres of woodland and meadows. The unspoilt farmland boasts an amazing variety of wildlife, flowers, butterflies and birds, as well as the domestic pets, sheep, ducks and chickens on the smallholding.

.clr