---
layout: default
body: things
title: Things to Do
---
%img#pic.right{:src=>"http://farm5.static.flickr.com/4053/4645211997_df0caa0730_m.jpg", :title=>"", :alt=>"", :target=>"_blank"}
%p Penderry is ideally situated as a base to explore Pembrokeshire from, whilst enjoying the tranquility of the countryside. The lively little town of Narberth, with its art galleries, Queens hall theatre and music venue, antique shops, caf&eacute;s and pubs, is only 10 minutes drive away.

%h2 Beaches
%p Pembrokeshire has more Blue Flag beaches and Seaside Awards than any other county in Britain. There are over 50 beaches to choose from, and Penderry is only six miles from Amroth and Wiseman&apos;s Bridge.

%h2 National Park
%p The Pembrokeshire Coast National Park is the only National Park in the UK that is almost entirely coastal. The National Park covers a third of Pembrokshire and includes several offshore islands, the Preseli Hills, the Daugleddau Waterway, Tenby, Saundersfoot, St Davids and Manorbier. The National Park runs a programme of activities for both children and adults, listed in the Coast to Coast newspaper. 

%h2 Coastal Path
%p Very popular with walkers, the famous Pembrokeshire Coast Path runs for 186 miles. The national trail provides access to a wealth of landscapes and wildlife, including picturesque towns and villages, 58 beaches, 14 harbours, 17 Special Sites of Scientific Interest, limestone cliffs and volcanic headlands. There are also many smaller circular walks.

%h2 Castles and Heritage
%p Pembrokeshire has a host of magnificent castles and monuments including spectacular stone fortresses like Pembroke Castle, Carew Castle and Manorbier Castle. St Davids, the smallest city in Britain, built around St Davids Cathedral, is well worth a visit. It&apos;s also an easy drive to the ancient walled town of Tenby and to the Preseli hills. Castell Henllys is a reconstructed Iron age fort set in beautiful countryside with children friendly activities.

%h2 Wildlife
%p The diverse habitats of Pembrokeshire provide excellent homes for wildlife, and Penderry itself boasts and amazing variety. Skomer, Stokholm, Ramsey and Caldey islands are renowned for their vast array of wildlife, including puffins, gannets, dolphins, porpoises and whales.

%h2 Local Attractions
%p Pembrokeshire offers a wide range of attractions for the whole family to enjoy. These include:

%ul
  %li
    %a{:href=>"http://www.caldey-island.co.uk/", :title=>"", :target=>"_blank"} Caldey Island
  %li
    %a{:href=>"http://www.carewcastle.com/", :title=>"", :target=>"_blank"} Carew Castle and Tidal Mill
  %li
    %a{:href=>"http://www.castellhenllys.com/", :title=>"", :target=>"_blank"} Castell Henllys
  %li
    %a{:href=>"http://www.canastonbowl.co.uk/", :title=>"", :target=>"_blank"} CC2000 Crystal Maze and Bowling
  %li
    %a{:href=>"http://www.nationaltrust.org.uk/main/w-colbywoodlandgarden", :title=>"", :target=>"_blank"} Colby Woodland Garden
  %li
    %a{:href=>"http://www.folly-farm.co.uk/", :title=>"", :target=>"_blank"} Folly Farm Adventure Park and Zoo
  %li
    %a{:href=>"http://www.heatherton.co.uk/", :title=>"", :target=>"_blank"} Heatherton Activity Theme Park
  %li
    %a{:href=>"http://www.manorhousewildlifepark.co.uk/", :title=>"", :target=>"_blank"} Manor House Wildlife Park
  %li
    %a{:href=>"http://www.manorbiercastle.co.uk/welcome.html", :title=>"", :target=>"_blank"} Manorbier Castle
  %li
    %a{:href=>"http://www.marros-farm.co.uk/", :title=>"", :target=>"_blank"} Marros Horse Riding
  %li
    %a{:href=>"http://www.oakwoodthemepark.co.uk/home/default.asp", :title=>"Oakword Theme Park", :target=>"_blank"} Oakword Theme Park
  %li
    %a{:href=>"http://www.welshchocolatefarm.com/", :title=>"", :target=>"_blank"} Pemberton's Chocolate Farm
  %li
    %a{:href=>"http://www.pembroke-castle.co.uk/", :title=>"", :target=>"_blank"} Pembroke Castle
  %li
    %a{:href=>"http://www.pembsmotormuseum.co.uk/", :title=>"", :target=>"_blank"} Pembrokeshire Motor Museum
  %li
    %a{:href=>"http://www.rspb.org.uk/reserves/guide/r/ramseyisland/index.asp", :title=>"", :target=>"_blank"} Ramsey Island
  %li
    %a{:href=>"http://www.ritec-valley.co.uk/", :title=>"", :target=>"_blank"} Ritec Valley Quad Bikes
  %li
    %a{:href=>"http://www.pembrokeshirevirtualmuseum.co.uk/main_menu/places_to_visit/museums/scolton_manor/manor_house/index.html", :title=>"", :target=>"_blank"} Scolton Manor
  %li
    %a{:href=>"http://www.silentworld.org.uk/", :title=>"", :target=>"_blank"} Silent World Aquarium and Reptile Collection
  %li
    %a{:href=>"http://www.skomer.co.uk/", :title=>"", :target=>"_blank"} Skomer Island
  %li
    %a{:href=>"http://www.stdavidscathedral.org.uk/", :title=>"", :target=>"_blank"} St David's Cathedral
  %li
    %a{:href=>"http://www.thecreativecafe.co.uk/", :title=>"", :target=>"_blank"} The Creative Cafe
  %li
    %a{:href=>"http://www.thedinosaurpark.co.uk/", :title=>"", :target=>"_blank"} The Dinosaur Park
  %li
    %a{:href=>"http://www.dylanthomasboathouse.com/", :title=>"", :target=>"_blank"} The Dylan Thomas Boathouse
  %li
    %a{:href=>"http://www.treetopstrail.com/", :title=>"", :target=>"_blank"} Tree Tops Trail Adventure