---
layout: default
body: paintings
title: Tina Lewis' Paintings
---
%p Tina has been inspired by Penderry and it’s huge variety of habitats for many years, and the farm has been the basis for many painting exhibitions. Having run her own gallery in Kent, Tina now shows her drawings, water colours and oil paintings in local Pembrokeshire galleries, and is widely collected.

= include 'artwork.html'